{{ set(this,'title',item.title) }}

<a class="btn btn-default btn-item-back" onclick="js:window.history.back()"><i class="glyphicon glyphicon-chevron-left"></i></a>

<div class="container-fluid">

    <div class="row item-wrapper">

        <div class="col-xs-12">
            {% if item.backdrops %}
                {%  set image =  item.backdrops[0].url|replace({'{profile}': 's1440'}) %}
            {% else %}
                {%  set image = item.poster|replace({'{profile}': 's1440' ,'poster' : 'backdrop'}) %}
            {% endif %}
            <div class="backdrop"
                 style="background-image: url('{{ 'https://images.justwatch.com' ~ image }}')">
            </div>
            {% set margin = '' %}
            {% if item.title|length > 30 %}
                {% set margin = 'margintop-item' %}
            {% endif %}
            <h3 class="title text-center {{ margin }}">{{ item.title }}</h3>
            <div class="info-item">
                <h5 class="">{{ html.label( t('app','Géneros') ) | raw }}  {% for item_genre in item.itemGenres %} <span class="">{{ item_genre.fkGenre.name }} | </span> {% endfor %} </h5>
                <h5 class="">{{ html.label( t('app','Nota Imdb') ) | raw }} {{ item.imdb_score }}
                {%  if ( item.filmaffinity_score and item.filmaffinity_score != 0.0 ) %}
                    {{ html.label( t('app','Nota Filmaffinity') ) | raw }} {{ item.filmaffinity_score }}
                {% endif %}
                </h5>
                {%  if ( item.runtime ) %}
                    <h5 class="">{{ html.label( t('app','Runtime') ) | raw }} {{ item.runtime }} min</h5>
                {% endif %}
                <h5 class="">{{ html.label( t('app','Original Release Year') ) | raw }} {{ item.original_release_year }}</h5>
                <span class="">{{ html.label( t('app','Short Description') ) | raw }}:</span>
                <span>{{ item.short_description }}</span>
            </div>
            <div class="links margin-top-5px margin-bottom-10px">
                {% if item.urlLinks %}
                    {{ html.label( t('app','Disponibilidad') ) | raw }}
                    {% set links_hd = item.getUrlLinks().where({'quality':'hd'}).all() %}
                    {% if links_hd %}
                    {% endif %}
                    {% set links_sd = item.getUrlLinks().where({'quality':'sd'}).all() %}
                    {% if links_sd %}
                    {% endif %}
                    {% if links_hd %}
                        {% for link in links_hd %}
                                <a href="{{ link.web }}" target="_blank">
                                    {{ html.img('@web/img/providers/'~ link.fk_provider ~ '.jpg',{'class':'image-provider','title':'Calidad HD'}) | raw }}
                                </a>
                        {% endfor %}
                    {% endif %}
                    {% if links_sd %}
                        {% for link in links_sd %}
                            {% if not item.getUrlLinks().where({'fk_provider':link.fk_provider,'quality':'hd'}).one() %}
                                <a href="{{ link.web }}" target="_blank">
                                    {{ html.img('@web/img/providers/'~ link.fk_provider ~ '.jpg',{'class':'image-provider','title':'Calidad SD'}) | raw }}
                                </a>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endif %}
            </div>
            <div class="clips">
                {% if item.clips %}
                    <h5 class="">{{ html.label( t('app','Trailers') ) | raw }} </h5>
                {% endif %}
                {% for clip in item.clips %}
                    {% if clip.provider == 'youtube' %}
                        <div class="video-wrapper margin-bottom-10px">
                            <iframe width="560" height="349" src="https://www.youtube.com/embed/{{ clip.external_id }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

    </div>

</div>